html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #082642;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "RobotoM";
  src: url("../public/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Monteserrat";
  src: url("../public/Montserrat-VariableFont_wght.ttf");
}